.footer {
	padding: 60px 0 10px;
	min-height: 275px;

	border-top: rgba(175, 163, 197, 0.25) solid 1px;
	border-bottom: 5px solid $color-title-accent;

	&__wrap {
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__col {
		flex: 0 0 170px;
	}

	&__ul {
	}

	&__li {
		cursor: pointer;
		a {
			font-family: $font-title;
			text-decoration: none;
			font-weight: 700;
			font-size: 20px;
			line-height: 1.3em;
			line-height: 1em;

			color: $color-title;
			transition: 0.3s ease;
		}
		&:hover a,
		&:focus a {
			color: $color-title-accent;
		}
	}

	&__contacts {
		margin-left: auto;
		margin-right: 30px;
		text-align: right;
	}

	&__tel {
		text-decoration: none;
		font-family: $font-title;
		font-weight: 700;
		font-size: 32px;
		line-height: 1em;
		text-align: right;

		color: #383838;
	}

	&__social {
		display: flex;
		justify-content: flex-end;
		gap: 20px;

		margin-top: 18px;
	}

	&__all-right {
		margin-top: 65px;
		justify-content: flex-end !important;

		p,
		a {
			font-size: 12px;
			line-height: 133%;

			text-align: right;
		}

		p {
			color: #909090;
			&:first-child {
				border-right: #909090 1px solid;
				padding-right: 0.8em;
			}
		}

		a {
			color: rgba(136, 91, 218, 1);
			text-decoration: none;
		}
	}

	&__details {
		&,
		a {
			font-size: 14px;
			line-height: 114%;
			color: #909090;

			text-decoration: none;
		}
	}
}

@media (max-width: 767.98px) {
	.footer {
		&__row {
			flex-direction: column;
		}
		&__col {
			flex: auto;
		}
		&__contacts {
			margin-top: 24px;
			margin-left: 0;
		}
		&__details {
			margin-top: 30px;
		}
		&__all-right {
			p:first-child {
				padding-right: 0;
				border: none;
			}
		}
	}
}
