.main-music {
	.main-songs-page__links {
		padding-top: 10px;
	}
	.sect-music-band {
		padding-top: 80px;
	}
	.sect-music-player {
		padding-top: 120px;
	}
	.sect-music-video {
		padding-top: 120px;
	}
	.our-events {
		padding-top: 120px;
	}
	.message-us {
		padding-top: 120px;
	}
}
