.main-about-school {
	@media (orientation: portrait) {
		// margin-top: 8vmax;
		&::after {
			display: none;
		}
	}

	&::after {
		z-index: -1;
		position: absolute;
		content: "";
		background: url("@img/about-school-page/bg-decor.png") 0 0 / contain no-repeat;
		top: 50%;
		left: calc(50% + 440px);
		width: 618px;
		height: 550px;
	}

	.intro__video {
		display: none;
	}
}
