.main-product-page {
	.product-page-banner {
		margin: 0 -20px;
		background: url("@img/product-page/bg-banner.jpg") 100% 50% / cover no-repeat;
		padding: 53px 20px;

		&__wrap {
		}

		&__title {
			margin-top: 241px;
			margin-bottom: 23px;
		}

		&__subtitle {
			margin-bottom: 50px;
			font-size: 20px;
			line-height: 1.1em;
			max-width: 570px;
		}

		&__details {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 30px;
		}

		&__btn {
		}

		&__info {
			background: #fff;
			border-radius: 27px;
			span {
				display: inline-block;
				padding: 17px 20px;
				font-weight: 700;
				font-size: 15px;
				line-height: 0.8em;

				color: #5a593e;

				border-right-width: 1px;
				border-right-style: solid;
				border-image: linear-gradient(
						to bottom,
						rgba(223, 223, 223, 0) 5%,
						rgba(211, 211, 211, 1) 50%,
						rgba(223, 223, 223, 0) 95%
					)
					1 100%;

				@media (max-width: 477px) {
					border: none;
				}
				&:last-child {
					border: none;
				}
			}
		}
	}

	.product-page-program {
		padding: 120px 0 60px;
		&__wrap {
		}

		&__title {
			margin-bottom: 24px;

			font-size: 48px;
			line-height: 0.92em;

			text-align: center;
		}

		&__subtitle {
			max-width: 570px;
			margin: 0 auto 50px;

			font-weight: 400;
			font-size: 16px;
			line-height: 1.12em;

			text-align: center;
		}

		&__cards-block {
			display: grid;
			grid-template-columns: repeat(auto-fit, 270px);
			grid-column-gap: 30px;
			grid-row-gap: 50px;
			grid-auto-flow: dense;
			justify-content: center;
		}

		&__article {
			img {
				width: 270px;
				height: 270px;
				margin-bottom: 15px;
				border-radius: 15px;
				object-fit: cover;
				overflow: hidden;
			}
		}

		&__article-title {
			margin-bottom: 13px;
			font-size: 32px;
			line-height: 1.06em;
		}

		&__article-text {
			font-size: 16px;
			line-height: 1.25em;
			max-height: 8.75em;
			overflow: hidden;
		}
	}

	.product-page-privilege {
		padding: 60px 0;
		&__wrap {
		}

		&__title {
			margin: 0 auto 77px;
			max-width: 385px;
			font-size: 48px;
			line-height: 0.92em;

			text-align: center;
		}

		&__content {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			img {
				width: 582px;
				height: 458px;
				object-fit: cover;
				object-position: 100% 0;
				overflow: hidden;
				border-radius: 0px 15px 15px 0px;
			}
			@media (max-width: 1393px) {
				justify-content: center;
				gap: 50px;
			}
		}

		&__list {
			max-width: 490px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			li {
				padding-left: 36px;
				position: relative;

				font-weight: 700;
				font-size: 20px;
				line-height: 1.1em;

				color: $color-title;

				span {
					position: absolute;
					top: -6px;
					left: 0;

					font-family: $font-title;
					font-weight: 700;
					font-size: 40px;
					line-height: 1.1em;

					color: $color-title-accent;
				}
			}
		}
	}

	.product-page-about-teacher {
		padding: 60px 0;
		&__wrap {
		}

		&__title {
			margin-bottom: 80px;

			font-size: 48px;
			line-height: 0.92em;

			text-align: center;
		}

		&__slider {
			position: relative;
		}

		&__slider-item {
			max-width: 970px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 30px;

			img {
				height: 500px;
				width: 370px;
				overflow: hidden;
				object-fit: cover;
				border-radius: 15px;
			}

			@media (max-width: 1472px) {
				justify-content: center;
				max-width: 500px;
			}
		}

		&__content {
			max-width: 570px;
		}
		&__name {
			margin-bottom: 32px;

			font-size: 36px;
			line-height: 1em;
			max-height: 1em;
			overflow: hidden;
			@media (max-width: 1472px) {
				text-align: center;
			}
		}

		&__text {
			margin-bottom: 35px;

			font-size: 14px;
			line-height: 1.29em;
			min-height: 10.23em;
			overflow: hidden;

			color: $color-title;
		}

		&__merit {
			margin-bottom: 40px;
			max-width: 505px;

			display: flex;
			flex-direction: column;
			gap: 13px;

			li {
				position: relative;
				padding-left: 22px;

				font-weight: 700;
				font-size: 14px;
				line-height: 1.14em;
				max-height: 2.28em;
				overflow: hidden;

				color: #909090;

				span {
					position: absolute;
					height: 12px;
					width: 12px;
					top: calc(50% - 7px);
					left: 0;
					border-radius: 50%;
					background: $color-title-accent;
					display: inline-block;
				}
			}
		}

		&__btn {
		}

		.title-h3 {
		}
		.splide__track--fade > .splide__list > .splide__slide {
			left: calc(50% - 485px);
			@media (max-width: 1472px) {
				left: calc(50% - 250px);
			}
		}
		.splide {
			&__track {
			}

			&__list {
			}

			&__slide {
			}
		}
		.title-h4 {
		}
		.btn-arrow {
			z-index: 1;
			position: absolute;
			top: calc(50% - 45px);
			&_l {
				left: calc(50% - 580px);
				@media (max-width: 1472px) {
					left: calc(50% - 350px);
				}
			}
			&_r {
				right: calc(50% - 580px);
				@media (max-width: 1472px) {
					right: calc(50% - 350px);
				}
			}
		}
	}

	.product-page-accordion {
		padding: 60px 0;
		&__wrap {
		}

		&__title {
			margin-bottom: 80px;

			font-size: 48px;
			line-height: 0.92em;
			text-align: center;
		}

		&__block {
			margin: 0 auto;
			max-width: 770px;
		}

		&__item {
			margin-bottom: 10px;
			border-radius: 7px;
			border: 1px solid #d2d2d2;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__item-title {
			width: 100%;

			padding: 25px 30px;
			font-weight: 700;
			font-size: 20px;
			line-height: 0.9em;
			color: #383838;

			background: #fff;
			border-radius: 7px;

			transition: background 0.3s ease;

			&.active {
				border-radius: 7px 7px 0px 0px;
			}

			&:hover {
				background: #f5efff;
			}
		}

		&__content {
			max-height: 0;
			padding: 0 31px;
			overflow: hidden;
			border-radius: 0 0 7px 7px;

			transition: 0.3s ease;

			&.active {
				max-height: 1000px;
				padding-top: 23px;
				padding-bottom: 37px;
				border-top: 1px solid #d2d2d2;
			}
		}

		.title-h3 {
		}

		.accordion-init {
		}

		.accordion-btn {
		}

		.title-main {
		}

		.accordion-content {
		}
	}

	.product-page-location {
		padding: 60px 0;
		&__wrap {
		}

		&__title {
			margin-bottom: 73px;

			font-size: 48px;
			line-height: 0.92em;
			text-align: center;
			color: $color-title;
		}

		// &__slider {
		// }

		// &__slider-item {
		// }

		// .splide {
		// 	// position: relative;
		// 	// max-width: 770px;
		// 	// height: 172px;
		// 	&__track {
		// 		// height: 100%;
		// 	}
		// 	&__arrows {
		// 		display: none;
		// 		position: absolute;
		// 	}
		// 	&__list {
		// 	}

		// 	&__slide {
		// 		// display: inline-block;
		// 	}

		// 	&__pagination {
		// 		gap: 13px;
		// 		&__page {
		// 			width: 14px;
		// 			height: 14px;
		// 			margin: 0;
		// 			background: $color-title-tag;
		// 			&.is-active {
		// 				background: $color-title-accent;
		// 			}
		// 		}
		// 	}
		// }

		&__swiper {
			max-width: 970px;
			padding: 0 100px 70px;
			margin-bottom: 40px;
			.swiper-wrapper {
			}
			.swiper-slide {
				p {
					overflow: hidden;

					font-size: 18px;
					line-height: 1.22em;
					color: #383838;
				}
			}
			.swiper-pagination {
				&-bullet {
					margin: 0 6px;
					background: $color-title-tag;
					width: 14px;
					height: 14px;
					opacity: 0.5;

					transition: transform 0.3s ease;
					&-active {
						background: $color-title-accent;
						opacity: 1;
						transform: scale(1.4);
					}
				}
			}
			.btn-arrow {
				margin: 0;
				top: calc(50% - 70px);
				&_l {
				}
				&_r {
				}
			}
		}

		&__map {
			position: relative;

			iframe {
				border-radius: 15px;
				height: 350px;
			}
		}
		&__gallery {
			margin-bottom: 30px;
			display: grid;
			justify-content: center;
			grid-template-columns: repeat(auto-fit, 270px);
			gap: 30px;
		}

		&__gallery-item {
			img {
				width: 270px;
				height: 270px;

				overflow: hidden;
				object-fit: cover;
				border-radius: 7px;
			}
		}

		.title-h3 {
		}
	}

	.product-page-offers {
		padding: 60px 0;
		&__wrap {
		}

		&__title {
			margin-bottom: 56px;

			font-size: 48px;
			line-height: 0.92em;
			text-align: center;
		}

		&__content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 30px;
		}

		&__article {
			width: 270px;

			a {
				text-decoration: none;
			}

			&:hover {
				.product-page-offers__article-content {
					box-shadow: 2px 4px 20px 4px rgba(10, 0, 28, 0.2);
				}
				.product-page-offers__btn {
					background: #fff73f;
					box-shadow: 0px -20px 20px 0px #ffac0b inset;
				}
			}
		}

		&__article-content {
			margin-bottom: 10px;
			padding: 40px 20px 30px;
			height: 626px;

			font-size: 14px;
			line-height: 1.14em;

			cursor: pointer;
			background: #fff;
			border: 1px solid #eae6f1;
			border-radius: 7px;

			transition: box-shadow 0.3s ease;
		}

		&__article-title {
			margin-bottom: 40px;

			line-height: 0.91em;
			text-align: center;
		}

		&__article-ul {
			margin-bottom: 23px;

			max-height: 17.1em;
			display: flex;
			flex-direction: column;
			gap: 1.14em;

			color: #383838;

			overflow: hidden;
		}

		&__article-text {
			margin-bottom: 32px;
		}

		&__article-price {
			line-height: 0.91em;
			text-align: center;
			color: $color-firm-bcgrnd;
		}

		&__btn {
			width: 100%;
		}
	}

	.credit {
		padding: 60px 0;

		&__wrap {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			align-items: center;

			@media (max-width: 1262px) {
				justify-content: center;
			}
		}

		&__img {
			position: relative;
			height: 460px;
			flex: 0 0 370px;
			display: flex;
			align-items: center;
			img {
				width: 280px;
				height: 260px;
				object-fit: contain;
			}

			&::after {
				z-index: -1;
				position: absolute;
				content: "";

				top: calc(50% - 230px);
				right: calc(-100% + 370px);
				height: 100%;
				width: 100vw;

				border-radius: 0px 15px 15px 0px;
				background: $color-btn-yel;
			}
		}

		&__content {
		}

		&__title {
			margin-bottom: 46px;
			max-width: 460px;

			font-size: 48px;
			line-height: 0.92em;
		}

		&__text {
			margin-bottom: 50px;
			max-width: 570px;
			max-height: 6.1em;
			overflow: hidden;
			font-size: 18px;
			line-height: 1.22em;

			color: $color-title;
		}

		&__btn {
		}
	}

	.product-page-reviews {
		padding: 60px 0 180px;
		&__wrap {
		}

		&__title {
			margin-bottom: 80px;
			font-size: 48px;
			line-height: 0.92em;
			text-align: center;
		}

		&__splide {
		}

		.splide {
			position: relative;
			margin: 0 auto;
			&__track {
			}

			&__list {
			}

			&__slide {
				height: 400px;
				img {
					object-fit: cover;
					height: 100%;
					border-radius: 7px;
				}
			}

			&__arrows {
			}
		}

		.btn-arrow {
			position: absolute;
			bottom: -120px;
			&_l {
				left: calc(50% - 85px);
			}

			&_r {
				right: calc(50% - 85px);
			}
		}
	}

	.feedback {
		padding: 75px 0;
		background: url("@img/product-page/bg-feedback.jpg") 100% 0 / cover no-repeat;
		&__scene {
			display: none;
		}

		&__img {
			display: none;
		}

		&__title {
			color: #fff;
		}

		&__attention {
			color: #fff;
		}
	}

	.FAQ {
		&__title-h2 {
			font-size: 48px;
			line-height: 0.92em;
			color: $color-title;
			span {
				color: $color-title;
			}
		}
	}

	.product-page-also {
		padding: 120px 0;
		&__wrap {
		}

		&__title {
			margin-bottom: 50px;
		}

		&__cards-block {
			display: grid;
			justify-content: center;
			grid-template-columns: repeat(auto-fit, 270px);
			gap: 30px;
		}

		&__card-item {
			height: 435px;
			img {
				flex: 0 0 140px;
			}
			border-radius: 30px;
		}
		.title-h3 {
		}
		.course-card {
			&__info {
				flex: 1 0 290px;
				padding: 20px;
				padding-bottom: 10px;
				border-radius: 0px 0px 30px 30px;
			}

			&__title {
				margin-top: 0;
				margin-bottom: 12px;
				max-height: 2.2em;
				overflow: hidden;
			}

			&__text {
				margin-bottom: 18px;
				max-height: 10.26em;
				overflow: hidden;
			}

			&__price {
				line-height: 1em;
			}

			&__when {
				margin-top: 0.7em;
				line-height: 1em;
			}
		}
		.course-title {
		}
		.course-text {
		}
		.course-price {
		}
		.course-when {
		}
	}
}
