.choices {
	color: $color-title;

	&.is-open {
		.choices__list--single {
			color: $color-title-accent;
		}
	}
	&:hover {
		color: $color-title-accent;
		.choices__list--single {
			color: $color-title-accent;
		}
		.choices__inner {
			border: 1px solid $color-title-accent;
		}
	}
	&[data-type*="select-one"] {
		&::after {
			top: 12px;
			right: 15px;
			height: 22px;
			width: 14px;

			font-family: $fa-free;
			font-weight: 800;
			font-size: 22px;
			line-height: 1em;

			border-style: none !important;
			content: "\f104";

			margin-top: 0 !important;

			transform: rotate(-90deg);

			transition: 0.3s ease;
		}
		&.is-open::after {
			margin-top: 0 !important;
			transform: rotate(90deg);
			color: $color-title-accent;
		}
	}
	&[aria-expanded="true"] {
		.choices__inner {
			border-radius: 7px 7px 0 0 !important;
		}
	}
	&__inner {
		height: 45px;

		font-weight: 700;
		font-size: 18px;
		line-height: 1em;
		color: $color-title;

		background: $color-white;
		border: 1px solid $color-title-tag;
		border-radius: 7px !important;

		transition: border-radius 0.3s ease;
	}
	&__list {
		z-index: 100 !important;
		max-height: 0;

		font-weight: 700;
		font-size: 18px;
		line-height: 1em;
		color: $color-title;

		border-radius: 0 0 7px 7px !important;

		transition: max-height 1s ease, color 0.3s ease;

		&--single {
			padding-left: 12.5px;
		}
		&[aria-expanded="true"] {
			padding: 16px 60px 16px 20px;
			max-height: 1000px;
			.is-highlighted {
				background: inherit !important;
				color: $color-title-accent;
			}
		}
	}
	&__item {
		&--choice {
			padding: 0 !important;

			font-weight: 700;
			font-size: 18px !important;
			line-height: 1.5em;
			color: $color-title;

			transition: color 0.3s ease;
		}
	}
}
