$color-firm-bcgrnd: #290173;
$color-title-accent: #fba52a;
$color-title-tag: #afa3c5;
$color-title: #383838;
$color-indark: #d8d0e7;
$color-brown: #734a13;
$color-white: #fff;

$color-btn-yel: #ffdc27;
$color-btn-yel-bsh: #fba52a;
$color-btn-yel-bdr: #b9771f;
$color-btn-hov-yel: #fff73f;
$color-btn-hov-yel-bsh: #ffac0b;

$color-btn-silv: #f5f5f5;
$color-btn-silv-bsh: #dedede;
$color-btn-silv-bdr: #bebebe;
$color-btn-hov-silv: #f1ecf9;
$color-btn-hov-silv-bsh: #bbb1cd;
$color-btn-hov-silv-bdr: #9484b0;

$font-title: "Bebas Neue", Arial, Helvetica, sans-serif;
$font-italic: "Eskal Font4You", Arial, Helvetica, sans-serif;

// -----------------------------------------------FONTS

.header-font {
	font-family: $font-title;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.38em;
	color: $color-title;
	text-transform: uppercase;
	text-align: right;
	span {
		color: $color-title-accent;
	}
	&_dark {
		color: $color-white;
	}
}

.title-banner {
	font-family: $font-title;
	font-weight: 700;
	font-size: 96px;
	line-height: 0.85em;
	color: $color-title;
	text-transform: uppercase;
	span {
		color: $color-title-accent;
	}
	&_dark {
		color: $color-white;
	}

	@media (max-width: 475px) {
		font-size: 70px;
	}
}
.title-tag {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.2em;
	letter-spacing: -0.02em;
	color: $color-title-tag;
}
.title-sub {
	font-size: 18px;
	line-height: 1.22em;
	color: $color-title;
	span {
		color: $color-firm-bcgrnd;
		font-weight: 700;
	}
	&_dark {
		color: $color-white;
	}
}

.title-h3 {
	font-family: $font-title;
	font-weight: 700;
	font-size: 40px;
	line-height: 1em;
	color: $color-title;
	text-transform: uppercase;
	span {
		color: $color-title-accent;
	}
	&_dark {
		color: $color-white;
	}
}
.title-h4 {
	font-family: $font-title;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.03em;
	color: $color-title;
	text-transform: uppercase;
	span {
		color: $color-title-accent;
	}
	&_dark {
		color: $color-white;
	}
}
.title-h5 {
	font-family: $font-title;
	font-weight: 400;
	font-size: 24px;
	line-height: 0.83em;
	color: $color-title;
	text-transform: uppercase;
	span {
		color: $color-title-accent;
	}
	&_dark {
		color: $color-white;
	}
}
.title-main {
	font-weight: 700;
	font-size: 36px;
	line-height: 1em;
	letter-spacing: -0.02em;
	color: $color-title;
	&_dark {
		color: $color-white;
	}
}

.course-title {
	font-family: $font-title;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.3em;
	color: $color-title;
	text-transform: uppercase;
	span {
		color: $color-title-accent;
	}
	&_dark {
		color: $color-white;
	}
}
.course-price {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29em;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	color: $color-title-accent;
}
.course-text {
	font-size: 14px;
	line-height: 1.14em;

	color: #909090;
}
.course-when {
	font-size: 12px;
	line-height: 1.5em;
	letter-spacing: -0.02em;

	color: #797979;
}

.article-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.11em;
	letter-spacing: -0.02em;
	color: $color-title;
}
.article-p {
	font-size: 14px;
	line-height: 1.14em;
}
.article-when {
	font-size: 14px;
	line-height: 1em;
	color: $color-title-tag;
}

.p {
	&_dark {
		color: $color-indark;
	}
}

.firm-phone {
	font-family: $font-title;
	font-weight: 700;
	font-size: 28px;
	line-height: 1;

	white-space: nowrap;

	color: $color-white;
}

.speech {
	font-family: $font-title;
	font-weight: 300;
	font-size: 36px;
	line-height: 1em;
	text-transform: uppercase;
	span {
		display: block;
		font-family: $font-italic;
		font-size: 24px;
		line-height: 1.2em;
		letter-spacing: 0.045em;
		text-transform: none;

		color: $color-firm-bcgrnd;
		transform: rotate(-0.5deg);

		padding-top: 40px;
		padding-left: 50px;
	}

	&_dark {
		color: $color-indark;
		span {
			color: $color-title-accent;
		}
	}
}

.b-quote {
	display: flex;
	flex-direction: column;
	p {
		font-family: $font-title;
		font-weight: 300;
		font-size: 36px;
		line-height: 1em;
		text-transform: uppercase;
		color: $color-title;
		margin-bottom: 20px;
	}
	span {
		align-self: flex-end;
		font-family: $font-italic;
		font-size: 24px;
		line-height: 1.2em;
		letter-spacing: 0.045em;

		color: $color-firm-bcgrnd;
		transform: rotate(-0.5deg);
	}
	&_dark {
		p {
			color: $color-indark;
		}
		span {
			color: $color-title-accent;
		}
	}
}

.attention {
	position: relative;

	font-size: 11px;
	line-height: 1.1;

	input {
		position: absolute;
		left: 0;

		cursor: pointer;
	}
	span {
		padding-left: 17px;
	}
}
// --------------------------------------------BUTTONS

.firm-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 70px;
	width: 370px;
	padding: 15px;

	font-family: $font-title;
	font-weight: 700;
	font-size: 36px;
	line-height: 1em;
	text-decoration: none;
	color: $color-title;

	border-radius: 10px;
	background: $color-btn-yel;
	box-shadow: 0px -20px 20px 0px $color-btn-yel-bsh inset;
	border: none;
	border-bottom: 3px solid $color-btn-yel-bdr;
	cursor: pointer;

	transition: 0.1s linear;

	@media (max-width: 415px) {
		width: 250px;
	}

	a {
		font-family: $font-title;
		font-weight: 700;
		font-size: 36px;
		line-height: 1em;
		text-decoration: none;
		color: $color-title;
	}

	&:hover {
		background: $color-btn-hov-yel;
		box-shadow: 0px -20px 20px 0px $color-btn-hov-yel-bsh inset;
	}
	&:active {
		border-bottom: 2px solid $color-btn-yel-bdr;
		transform: translateY(1px);
	}

	&_silv {
		background: $color-btn-silv;
		box-shadow: 0px -20px 20px 0px $color-btn-silv-bsh inset;
		border-bottom: 3px solid $color-btn-silv-bdr;
		&:hover {
			background: $color-btn-hov-silv;
			box-shadow: 0px -20px 20px 0px $color-btn-hov-silv-bsh inset;
			border-bottom: 3px solid $color-btn-hov-silv-bdr;
		}
		&:active {
			border-bottom: 2px solid $color-btn-hov-silv-bdr;
		}
	}

	&_big {
		font-family: $font-family;
		font-weight: 700;
		font-size: 18px;
		line-height: 1em;
		text-transform: uppercase;
	}
}

.firm-btn-arrow {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 70px !important;
	height: 70px !important;
	cursor: pointer;

	border-radius: 10px;

	background-color: $color-btn-silv;
	box-shadow: 0px -20px 20px 0px $color-btn-silv-bsh inset;
	border-bottom: 3px solid $color-btn-silv-bdr;

	transition: 0.1s linear;

	svg {
		display: none;
	}
	&:hover {
		background-color: $color-btn-hov-silv;
		box-shadow: 0px -20px 20px 0px $color-btn-hov-silv-bsh inset;
		border-bottom: 3px solid $color-btn-hov-silv-bdr;
	}
	&:active {
		border-bottom: 2px solid $color-btn-hov-silv-bdr;
	}

	&_l {
		&::after {
			content: "" !important;
			background: url("@img/arrow-l.svg") 50% 50% no-repeat;
			width: 17px;
			height: 27px;
			top: 0;
			left: 0;
		}
	}
	&_r {
		&::after {
			content: "" !important;
			background: url("@img/arrow-r.svg") 50% 50% no-repeat;
			width: 17px;
			height: 27px;
			top: 0;
			left: 0;
		}
	}
}

.firm-btn-player {
	position: relative;
	width: 35px;
	height: 35px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	border-bottom: #290173 solid 2px;
	background: linear-gradient(225deg, #a777ff 14.29%, #5a1bcf 100%);

	transition: transform 0.3s ease;
	svg {
		transition: fill 0.3s ease;
	}
	.pause {
		display: none;
		opacity: 0;
		transition: 0.3s ease;
	}
	.play {
		transition: 0.3s ease;
	}
	&:hover {
		svg {
			fill: $color-title-accent;
		}
	}
	&:active {
		border-bottom: #290173 solid 1.5px;
		transform: translateY(0.5px);
	}
	&.active {
		.pause {
			display: block;
			opacity: 1;
		}
		.play {
			display: none;
			opacity: 0;
		}
	}
}

.a {
	text-decoration: underline;
	font-size: 1rem;
	line-height: 1.2rem;
	color: $color-title-tag;
	transition: color 0.1;
	&:hover,
	&:focus {
		text-decoration: underline;
		color: #885bda;
	}
}

// -----------------------------------------------------OBJECTS
.article {
	background-color: #fff;
	border: 1px solid #eae6f1;
	border-radius: 20px;
	transition: box-shadow 0.3s ease;
	transition-property: all !important;
	cursor: pointer;
	&:hover,
	&:focus {
		box-shadow: 2px 4px 20px 4px rgba(10, 0, 28, 0.2);
	}
}

.music-card {
	position: relative;
	max-width: 370px;
	min-height: 550px;

	padding: 30px 20px;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	justify-content: space-between;
	gap: 8px;

	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, 0) 20%,
		rgba(41, 1, 115, 0) 57.27%,
		#290173 100%
	);
	border-radius: 15px;

	transition: box-shadow 0.3s ease;

	picture {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__img {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: saturate(50%);
		border-radius: 15px;

		transition: filter 0.3s ease;
	}

	&__title {
		margin-bottom: 42px;
		font-size: 36px;
		color: #fff;
	}

	&__title,
	&__location,
	&__date {
		font-family: $font-title;
		font-weight: 700;
		line-height: 1em;
	}
	&__location,
	&__date {
		font-size: 24px;
		color: $color-title-accent;
	}

	&:hover {
		box-shadow: 2px 4px 20px 4px rgba(10, 0, 28, 0.35);
		& .music-card__img {
			filter: saturate(100%);
		}
	}
}
.music-see-card {
	position: relative;
	max-width: 770px;
	padding: 20px;
	border-radius: 15px;
	background: url("@img/music-page/look-bg.jpg") 50% 0 / cover no-repeat;
	&__title {
		padding: 12px 20px 30px;
		font-family: $font-title;
		font-weight: 700;
		font-size: 36px;
		line-height: 1em;
		color: #ffffff;
	}

	&__img {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 15px;
	}

	&__btn {
	}
}
.breadcrumb {
	display: flex;
	align-items: center;
	gap: 6px;
	a,
	span {
		font-size: 12px;
		line-height: 1em;

		transition: color 0.3s ease;
	}
	a:hover,
	a.current-link {
		color: $color-title-accent;
	}
}
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 18px;

	span {
		font-family: $font-title;
		font-size: 36px;
		line-height: 45px;
		text-align: center;

		color: $color-title;
	}
	&__number {
		font-family: $font-title;
		font-size: 36px;
		line-height: 45px;
		text-align: center;

		color: $color-title;
		background: transparent;

		transition: color 0.3s ease;

		&:hover {
			color: $color-title-accent;
		}
	}
}

.form-input {
	display: flex;
	align-items: center;
	width: 370px;
	height: 45px;

	color: $color-title;

	background: #fff;
	border: 1px solid $color-title-tag;
	border-radius: 7px;

	padding-left: 20px;

	transition: border 0.3s ease;
	&:active,
	&:focus,
	&:target {
		border: 1px solid #fba52a;
	}
	&:hover {
		border: 1px solid #fba52a;
	}
	&::placeholder {
		font-style: italic;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.2em;
	}
}
.course-card {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 270px;
	height: 287px;
	overflow: hidden;

	cursor: pointer;
	background-color: #fff;
	border-radius: 30px 30px 0px 0px;
	transition: box-shadow 0.3s ease;
	transition-property: all !important;

	&::after {
		position: absolute;
		content: "";
		width: 98%;
		height: 40%;
		top: 0.3%;
		left: 1%;

		background: url("@img/courses/card-glass.png") 0 0 / 100% 100% no-repeat;
	}
	img {
		width: 100%;
		object-fit: cover;
		filter: saturate(50%);
		transition: 0.3s ease;
		overflow: hidden;
	}
	&__info {
		padding: 15px;

		border: 1px solid #eae6f1;
	}
	&__title {
		line-height: 1.1em;
		letter-spacing: -0.02em;
	}

	&__price {
	}

	&__when {
	}
	&:hover {
		img {
			filter: saturate(100%);
		}
	}

	a {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		text-decoration: none;
		overflow: hidden;
	}

	&:hover,
	&:target {
		box-shadow: 2px 4px 20px 4px rgba(10, 0, 28, 0.2);
	}
}

.motivate-ribbon {
	position: relative;
	grid-column: 1 / 13;
	padding: 1em 4.4em 1em 3.4em;
	margin-left: 45px;
	margin-right: 45px;

	font-size: 16px;
	color: $background-color_main;
	background: url("@img/Rectangle.png") 0 0 / 100% 100% no-repeat;

	&::after {
		content: "";
		position: absolute;
		top: -27px;
		left: -61px;
		height: 126px;
		width: 100%;
		background: url("@img/logo/icon/icon3.svg") 0 0 / contain no-repeat;
	}
	@media (max-width: 1473px) {
		&::after {
			top: -18px;
			left: -61px;
			height: 126px;
		}
	}
	@media (max-width: 1210px) {
		&::after {
			top: -12px;
			left: -66px;
			height: 133px;
		}
	}
	@media (max-width: 1165px) {
		margin-left: 65px;
		&::after {
			top: -23px;
			left: -84px;
			height: 154px;
		}
	}
	@media (max-width: 1165px) {
		margin-left: 65px;
		& .p {
			padding-left: 1em;
		}
		&::after {
			top: -25px;
			left: -82px;
			height: 159px;
		}
	}
	@media (max-width: 1118px) {
		margin-left: 65px;
		& .p {
			padding-left: 1em;
		}
		&::after {
			top: -15px;
			left: -78px;
			height: 159px;
		}
	}
	@media (max-width: 1023.98px) {
		display: none;
	}
}
