.main {
}

.FAQ {
	&__title-h2 {
		margin: 0 auto 60px;
		text-align: center;
		@media (max-width: 460px) {
			text-align: left;
			font-size: 70px;
		}
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__column {
		flex: 1 1 510px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__accord-item {
		background: #ffffff;
		border: 1px solid #d2d2d2;
		border-radius: 7px;

		input {
			position: absolute;
			width: 0;
			height: 0;
		}
	}

	&__title-h3 {
		position: relative;
		display: flex;
		align-items: center;
		height: 105px;

		padding: 25px;
		padding-right: 67px;

		font-size: 24px;

		transition: background 0.3s ease;

		cursor: pointer;

		@media (max-width: 420px) {
			height: 160px;
		}

		&::before {
			position: absolute;
			content: "";
			width: 27px;
			height: 17px;
			top: calc(50% - 8px);
			right: 20px;
			background: url("@img/FAQ/arrow-down.svg") 0 0 no-repeat;
		}
		&:hover {
			background: #f5efff;
		}
	}

	&__answer {
		display: none;
		padding: 25px;
		color: $color-title;

		border-top: 1px solid #d2d2d2;
	}

	&__input:checked ~ &__answer {
		display: block;
	}
	&__input:checked ~ &__title-h3 {
		&::before {
			background: url("@img/FAQ/arrow-up.svg") 0 0 no-repeat;
		}
	}
}
.title-banner {
}
.title-main {
}
.hidden {
}
