.main-home,
.main-product-page {
	.FAQ {
		padding-top: 60px;
		padding-bottom: 60px;
		@media (max-width: 480px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

.FAQ {
	&__title-h2 {
		margin: 0 auto 60px;
		text-align: center;
		@media (max-width: 460px) {
			text-align: left;
		}
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	&__column {
		flex: 1 0 47.5%;
	}
	&__article {
		flex: auto 0 1;
		max-width: 570px;
		// margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
.FAQ-article {
	&__title {
		font-size: 24px;
		margin-bottom: 1em;
	}

	&__answer {
	}
}
.FAQ-accordion {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
	&__column {
		flex: 1 1 48%;
	}
	&__item {
		margin-bottom: 30px;

		background: #ffffff;
		border: 1px solid #d2d2d2;
		border-radius: 7px;

		input {
			position: absolute;
			width: 0;
			height: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		position: relative;
		min-height: 105px;

		padding: 25px;
		padding-right: 67px;

		font-size: 24px;
		text-align: left;

		transition: background 0.3s ease;

		cursor: pointer;
		background: none;

		&::before {
			position: absolute;
			content: "";
			width: 27px;
			height: 17px;
			top: calc(50% - 8px);
			right: 20px;
			background: url("@img/FAQ/arrow-down.svg") 0 0 no-repeat;
		}
		&:hover {
			background: #f5efff;
		}

		&.active {
			&::before {
				background: url("@img/FAQ/arrow-up.svg") 0 0 no-repeat;
			}
		}
	}
	&__answer {
		padding: 0 25px;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;

		color: $color-title;

		transition: 0.3s ease;
		&.active {
			visibility: visible;
			max-height: 800px;
			padding: 25px;
			border-top: 1px solid #d2d2d2;
		}
	}
	.title-banner {
	}
	.title-main {
	}
	.hidden {
	}
}
