.header {
	z-index: 100;
	position: relative;
	background: $color-firm-bcgrnd;
	&::after {
		z-index: -1;
		position: absolute;
		content: "";
		width: 385px;
		height: calc(100% - 1px);
		top: 0;
		left: 0;

		@media (max-width: 1600px) {
			width: 320px;
		}
		@media (max-width: 821px) {
			display: none;
		}

		background: linear-gradient(
			90deg,
			darken($color-firm-bcgrnd, 9%) 0%,
			darken($color-firm-bcgrnd, 9%) 80%,
			$color-firm-bcgrnd 100%
		);
	}
}
.header-schedule {
	&__wrap {
		min-height: 195px;

		padding-left: 50px;

		display: grid;
		grid-template-columns: repeat(2, 370px);
		grid-template-rows: repeat(2, min-content);
		align-content: center;
		grid-row-gap: 20px;
		grid-column-gap: 30px;
	}

	&__lessons-select {
	}

	&__teacher-select {
	}

	&__price {
	}

	&__options {
	}

	&__checkbox {
		position: relative;
		width: max-content;
		margin-bottom: 15px;

		display: block;
		padding-left: 25px;

		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		span {
			position: absolute;
			width: 15px;
			height: 15px;
			left: 0;
			top: 1px;

			border-radius: 4px;
			background: $color-white;

			transition: background 0.3s ease;
		}
		input {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			&:checked ~ span {
				background: $color-title-accent;
			}
			&:disabled ~ span {
				background-color: $color-title-tag;
			}
		}
	}

	&__title {
		margin-bottom: 10px;

		color: $color-title-tag;
		font-size: 22px;
		line-height: 0.82em;
		text-align: left;

		cursor: default;
	}

	.lessons-select {
		display: flex;
		flex-direction: column;
		&__title {
		}

		&__select-form {
		}
	}
	.header-font {
		&_dark {
		}
	}
	.select-form {
		width: 100%;
	}
	.teacher-select {
		&__title {
		}

		&__select-form {
		}
	}
	.header-price {
		&__title {
			margin-bottom: 16px;
		}

		&__slide-container {
		}
	}
	.price-slider {
	}
	// ----------------------------------------CHOICES
	.choices {
		color: $color-title;

		&.is-open {
			.choices__list--single {
				color: $color-title-accent;
			}
		}
		&:hover {
			color: $color-title-accent;
			.choices__list--single {
				color: $color-title-accent;
			}
			.choices__inner {
				border: 1px solid $color-title-accent;
			}
		}
		&[data-type*="select-one"] {
			&::after {
				top: 12px;
				right: 15px;
				height: 22px;
				width: 14px;

				font-family: $fa-free;
				font-weight: 800;
				font-size: 22px;
				line-height: 1em;

				border-style: none !important;
				content: "\f104";

				margin-top: 0 !important;

				transform: rotate(-90deg);

				transition: 0.3s ease;
			}
			&.is-open::after {
				margin-top: 0 !important;
				transform: rotate(90deg);
				color: $color-title-accent;
			}
		}
		&[aria-expanded="true"] {
			.choices__inner {
				border-radius: 7px 7px 0 0 !important;
			}
		}
		&__inner {
			max-width: 370px;
			height: 45px;

			font-weight: 700;
			font-size: 18px;
			line-height: 1em;
			color: $color-title;

			background: $color-white;
			border: 1px solid $color-title-tag;
			border-radius: 7px !important;

			transition: border-radius 0.3s ease;
		}
		&__list {
			z-index: 100 !important;
			max-height: 0;

			font-weight: 700;
			font-size: 18px;
			line-height: 1em;
			color: $color-title;

			border-radius: 0 0 7px 7px !important;

			transition: max-height 1s ease, color 0.3s ease;

			&--single {
				padding-left: 12.5px;
			}
			&[aria-expanded="true"] {
				padding: 16px 60px 16px 20px;
				max-height: 1000px;
				.is-highlighted {
					background: inherit !important;
					color: $color-title-accent;
				}
			}
		}
		&__item {
			&--choice {
				padding: 0 !important;

				font-weight: 700;
				font-size: 18px !important;
				line-height: 1.5em;
				color: $color-title;

				transition: color 0.3s ease;
			}
		}
	}
	// ------------------------------------SLIDER

	.noUi {
		&-horizontal {
			height: 3px;
		}
		&-target {
			box-shadow: none;
			border: none;
			background: $color-title-tag;
			border-radius: 5px;
		}
		&-connect {
			background: $color-title-accent;
		}
		&-handle {
			width: 16px !important;
			height: 16px !important;
			right: -8px;

			border-radius: 50%;
			box-shadow: 0 0 10px 2px rgba(#000, 0.5);
			border: none;
			background: $color-title-accent;

			cursor: pointer;

			&::after,
			&::before {
				display: none;
			}
		}
		&-tooltip {
			width: 64px;
			height: 22px;
			bottom: -28px !important;
			padding: 0 6px;

			font-family: $font-title;
			font-weight: 700;
			font-size: 20px;
			line-height: 1em;
			text-align: center;
			color: #383838;

			background: #fff;
			box-shadow: 2px 2px 6px rgba(12, 0, 34, 0.7);
			border-radius: 5px;
		}
	}
}
