.header {
}
.header-product-page {
	border-bottom: 1px solid rgba(144, 144, 144, 0.51);
	&::after {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%);
	}

	&__navigate {
		ul {
			min-height: 90px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
		li {
			list-style: none;
			&:hover {
				a {
					color: $color-title-accent;
				}
			}
		}

		a {
			font-family: $font-title;
			font-weight: 700;
			font-size: 24px;
			line-height: 0.92em;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-title;

			transition: color 0.3s ease;
		}
	}
}
