.home-reviews {
	padding-top: 60px;
	padding-bottom: 160px;
	@media (max-width: 480px) {
		padding-top: 31px;
		padding-bottom: 130px;
	}

	&__wrap {
	}

	&__title {
		text-align: center;
		margin-bottom: 80px;
	}

	.splide {
		position: relative;
		margin: 0 auto;
		&__track {
			margin: -25px;
			padding: 25px;
		}

		&__list {
		}

		&__slide {
			border-radius: 7px;
			height: 400px;
			transition: box-shadow 0.3s ease;
			img {
				border-radius: 7px;
				object-fit: cover;
				height: 100%;
			}
			&:hover {
				box-shadow: 2px 4px 20px 4px rgba(10, 0, 28, 0.2);
			}
		}

		&__arrows {
		}
	}

	.firm-btn-arrow {
		position: absolute;
		bottom: -120px;
		&_l {
			left: calc(50% - 85px);
		}

		&_r {
			right: calc(50% - 85px);
		}
	}
}
