.main-schedule {
	.course-card {
		border-radius: 17px;
		height: 435px;
		img {
			flex: 0 0 145px;
			object-fit: cover;
			border-radius: 17px 17px 0px 0px;
		}
		&__info {
			flex: 0 0 290px;
			padding: 18px 19px 14px;
			border-radius: 0 0 17px 17px;
		}

		&__title {
			margin: 0;
			max-height: 44px;
			overflow: hidden;
		}
		&__text {
			max-height: 145px;
			margin-top: 1em;

			font-size: 14px;
			line-height: 1.14em;
			overflow: hidden;
		}
		&__price {
			max-height: 14px;
			margin-top: 1em;
			overflow: hidden;
		}

		&__when {
			line-height: 1em;
			margin-top: 1em;
			max-height: 1em;
			overflow: hidden;
		}
	}
}
// -----------------------------------------------
.schedule {
	&__wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 52px;

		color: $color-firm-bcgrnd;
	}

	&__splide {
		margin: -25px;
		padding: 25px;
		// overflow: hidden;
		// margin-bottom: 0;

		// @media (max-width: 1366px) {
		// 	max-width: 620px;
		// }

		// @media (max-width: 1080px) {
		// 	max-width: 320px;
		// }

		// @media (max-width: 823px) {
		// 	max-width: 620px;
		// }

		// @media (max-width: 753px) {
		// 	max-width: 320px;
		// }
	}

	.splide {
		&__track {
			// gap: 30px;
			padding: 25px !important;
			margin: -25px !important;
		}
		&--grid {
			.is-next,
			.is-prev {
				opacity: 0;
			}
		}
		&__list {
			gap: 30px;
		}
		&__slide {
			transition: opacity 0.3s ease;
		}
		&__arrow {
			opacity: 1 !important;
			svg {
				display: none;
			}
			&:disabled {
				opacity: 0.8 !important;
			}
			&_prev {
			}
			&_next {
			}
		}
		.btn-arrow {
			svg {
				display: none;
			}
			position: absolute;
			top: calc(50% - 20px);
			&_l {
				left: -105px !important;
			}
			&_r {
				right: -105px !important;
			}
		}
	}

	&__btn {
		margin-top: 30px;
	}
}
// -------------------------------------------------
