.message-us {
	&__wrap {
	}

	&__title-h2 {
		z-index: 1;
		position: relative;
		margin: 0 auto 55px;
		text-align: center;
		@media (max-width: 1054px) {
			text-align: right;
		}
		@media (max-width: 460px) {
			margin: 0 auto 0;
		}
	}

	&__body {
		z-index: 1;
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		// grid-template-rows: repeat(2, auto);
		gap: 30px;

		&::after {
			z-index: -1;
			position: absolute;
			content: "";
			top: calc(50% - 204px);
			left: 0;
			width: 542px;
			height: 408px;
			background: url("@img/message-us/мужичёк.png") 0 0 / contain no-repeat;
		}
	}

	// &__img {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	object-fit: cover;

	// 	@media (max-width: 1065px) {
	// 		opacity: 0.5;
	// 	}
	// }

	&__contant {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		position: relative;
		// margin-right: -36%;
	}

	&__speech {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		max-width: 670px;
		margin-left: -115px;

		span {
			padding: 0;
		}
		@media (max-width: 1054px) {
			width: 600px;
			text-align: right;
		}
		@media (max-width: 920px) {
			width: 500px;
		}
		@media (max-width: 475px) {
			display: none;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 10px;

		// padding-top: 50px;
	}

	&__attention {
		margin-top: 10px;
	}
	.title-banner {
	}
	.message-us-form {
		&__text {
			resize: none;
			height: 170px;
			padding: 10px 15px;
		}

		&__name {
		}

		&__email {
		}

		&__btn {
			margin-top: 20px;
		}
		&__text,
		&__name,
		&__email,
		&__btn {
			@media (max-width: 475px) {
				width: 280px;
			}
		}
	}
	.form-input {
	}
	.btn {
	}
}
